body{
    margin:0;
    padding: 0;
    height:fit-content;
    width: fit-content;
    background-image: url("lyrics_background/design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
}

h2{
    
    color: black;
    text-align: center;
}

h3{

    text-align: center;
}
pre{
    
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: larger;
}